*{
    margin: 0px;
    padding :0px;
}

body{
    background-image: url(boot_images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: new time roman;
}

ul{
    margin-bottom: 50px;
}

ul a{
    font-size: 30px;
    color: #df982d;
    text-decoration: none;
}

ul a:hover{
    text-decoration: none;
    color: #ec0f73;
}

.label{
    font-size: 20px;
    color: #df982d;
    font-weight: normal;
    font-style: italic;
    
}

.form-control{
    background: transparent;
    border-radius: 0px;
    border: 0px;
    border-bottom: 1px solid #a09a9c;
    margin-bottom: 30px;
    font-size: 18px;
    padding: 10px;
}

input[type="checkbox"]{
    height: 15px;
    width:15px;
}

small{
    font-size: 17px;
    color: #df982d;
}

.btn-info{
    background: #df982d;
    border: 2px solid #df982d;
    font-size: 20px;
    color: white;
    border-radius: 50px;
}

.btn-info:hover{
    background: #555a95;
    border: 2px solid #555a95;
}

a p small:hover{
    text-decoration: none;
    color: #9d7508;
}

a:hover {
    text-decoration: none;
  }

p{
    font-size: 16px;
    margin-top: 40px;
}

.quote{
    margin-top: 240px;
    padding: 10px;
}

h2{
    color:  #df982d;
}